<!-- 
CONTACT
-->	
    <section id="about" class="contento">
        <div class="container">

            <div class="row-fluid texto">
                <div class="span4">
            <h4>Más sobre nosotros</h4>
            <p><a href="mailto:german.duenas@mktp.co" data-toggle="modal" data-target="">CONTACTANOS</a></p>
            <p><a href="404.php">Quiénes somos</a></p>
            <p><a href="404.php">El equipo</a></p>
                </div>
                <div class="span4">
            <h4>Descubre</h4>
            <p><a href="404.php">Blog</a></p>
                </div>
                <div class="span4">
            <h4>Redes sociales</h4>
            <p><a href="404.php" target="_blank"><span class="fui-facebook"></span> Facebook</a></p>
            <p><a href="404.php" target="_blank"><span class="fui-twitter"></span> Twitter</a></p>
            <p>© 2015. Todos los derechos reservados
            </p>
                </div>
            </div>
        </div>
    </section>
