    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://streamerstudio.com/mktp_test/#page-top">Marketing Estético</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="http://streamerstudio.com/mktp_test/#about">MKTP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://streamerstudio.com/mktp_test/#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://streamerstudio.com/mktp_test/#portfolio">Portafolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://streamerstudio.com/mktp_test/#contact">Contácto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>